div.home-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

input.home-input {
  width: 18rem;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  border: 1px solid gray;
  box-shadow: 2px 4px lightgray;
  margin-bottom: 15px;
}