div.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.home-container {
  height: 90vh;
}

div.education-container {
  height: 70vh;
}

input.home-input {
  width: 18rem;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  border: 1px solid gray;
  box-shadow: 2px 4px lightgray;
  margin-bottom: 15px;
}

form.modal-form input {
  height: 40px;
}

textarea { 
  width: auto; 
  min-width:200px;  
  height: 150px; 
  min-height: 150px;  
  max-height: 150px;
}

@media screen and (max-width: 480px) {
  div.education-container {
    height: 90vh;
  }
}